<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangjingwen.dao.CustomerMapper">

    <insert id="add" parameterType="com.zhangjingwen.pojo.Customer" useGeneratedKeys="true" keyProperty="customerId">
        INSERT INTO customer ( customer_name, customer_phone, grade, createtime, updatetime)
        VALUES
            ( #{customerName},#{customerPhone},#{grade},#{createtime},#{updatetime} )
    </insert>

    <update id="delete" parameterType="java.lang.Integer" keyProperty="customerId" useGeneratedKeys="true">
        UPDATE customer
        SET active = 0
        WHERE
            customer_id =#{customerId}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.zhangjingwen.pojo.Customer">
        select * from customer where customer_id=#{customerId} and active=1
    </select>

    <update id="update" parameterType="com.zhangjingwen.pojo.Customer" keyProperty="customerId" useGeneratedKeys="true">
        UPDATE customer

        SET
        <if test="customerName!=null">
            customer_name = #{customerName},
        </if>
        <if test="grade!=null">
            grade = #{grade},
        </if>
        updatetime = #{updatetime}
        WHERE
            customer_id = #{customerId}
            AND active =1
    </update>

    <select id="list" parameterType="com.zhangjingwen.pojo.Customer">
        select * from customer where active=1
    </select>

</mapper>